$body-slab: 'Nunito Sans', serif;
$header-slab: 'Oxygen', serif;

$transition_speed: .3s;
$secondary_transition_speed: .4s;

// primary colors
$primary-color: #0099ff;
$primary-secondary-color: #0089e5;

// info colors
$info-color: #00bbff;
$info-secondary-color: #00a8e5;

// secondary colors
$secondary-color: #f5f5f5;
$secondary-secondary-color: #dcdcdc;

// success colors
// #3F826D
// #157A6E
$success-color: #009900;
$success-secondary-color: #008900;

$white-color: #fff;
$dark-color: #666666;
$darker-color: #6c757d;
$grey-color: #899097;
$dark-grey-color: #666666;
$light-grey-color: #FAFAFA;
$black-color: #000;

$danger-color: #e95c4b;
$danger-secondary-color: #d15243;

// #ffae42
$warning-color: #FFAE03;
$warning-secondary-color: #e59c02;

$burgundy-color: #723347;
$burgundy-secondary-color: #870A30;

$pink-color: #D53690;
$pink-secondary-color: #EC8ED1;
